.chatbox {
  margin: 0 auto;
}
.controls {
  clear: both;
  margin: 10px;
  align-items: baseline;

  display: flex;
}

.controls input {
  flex: 1;
  border-radius: 10px;
  height: 40px;
  padding: 5px;
}
.controls button {
  height: 50px;
  width: 75px;
  margin-left: 10px;
  margin: 10px;
}
